.projects {
  width: 100%;
  height: 100vh;
  background-color: var(--section-bgd);
}
.myCard {
  background-color: transparent;
  /* width: 190px;
  height: 254px; */
  width: 260px;
  height: 190px;
  perspective: 1000px;
}

.title {
  font-size: 1.25rem;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.back_title {
  font-size: 0.5rem;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide,
.frontSide::before {
  background: linear-gradient(
    43deg,
    rgb(4, 27, 139) 0%,
    rgb(21, 2, 98) 46%,
    rgb(11, 2, 81) 100%
  );
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #023b5d 0%, #010982 100%);
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
}
.icon_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.icon {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
}

.icon:hover {
  transform: scale(1.25);
}
